@use 'sass:map';
@use '~@angular/material' as mat;
@use "variables" as vars;

$color-config: mat.get-color-config(vars.$my-primary);
$accent-color: mat.get-color-config(vars.$my-accent);

mat-card {
  display: flex;
  flex-direction: column;
}
mat-card-actions {
  display: flex;
  margin-top: auto;
}
.price, .discount {
  text-align: right;
}
.amount {
  width: 50px;
}
.discount {
  color: map.get($accent-color, 500);
  display: flex;
  justify-content: end;
  align-items: center;
}
