<mat-card class="card">
  <mat-card-title>{{ product.name }}</mat-card-title>
  <img height="250" width="250" mat-card-image [src]="product.images[0]" />
  <mat-card-content>
    <p>{{ product.description }}</p>
    <p class="price">{{ product.price | currency: "NOK" }}</p>
    <p class="discount" *ngIf="product.discount">
      <mat-icon>local_offer</mat-icon> {{ product.discount | currency: "NOK" }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="addItem.emit(product)">
      Add to card
      <mat-icon aria-hidden="false" aria-label="Add to cart"
        >shopping_cart</mat-icon
      >
    </button>
  </mat-card-actions>
</mat-card>
